/*******************通用样式*******************/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}
/*******************通用样式*******************/


/*******************头部样式*******************/
#lk_header{

}
#lk_header .top-bar{
    height: 40px;
    line-height: 39px;//导航条居中
    border-bottom: 1px solid #e0e0e0;
}
/*后代选择器选定234，并在左侧加border*/
#lk_header .top-bar .container .row>div+div{
    border-left: 1px solid #e0e0e0;
}

/*******************头部样式*******************/